@font-face {
    font-family: 'Anita Semi-square';
    src: url('fonts/anita/AnitaSemi-square.woff2') format('woff2'),
        url('fonts/anita/AnitaSemi-square.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/jetbrains/JetBrainsMono-BoldItalic.woff2') format('woff2'),
        url('fonts/jetbrains/JetBrainsMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/jetbrains/JetBrainsMono-ExtraBold.woff2') format('woff2'),
        url('fonts/jetbrains/JetBrainsMono-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/jetbrains/JetBrainsMono-Bold.woff2') format('woff2'),
        url('fonts/jetbrains/JetBrainsMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/jetbrains/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/jetbrains/JetBrainsMono-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/jetbrains/JetBrainsMono-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/jetbrains/JetBrainsMono-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/jetbrains/JetBrainsMono-ExtraLight.woff2') format('woff2'),
        url('fonts/jetbrains/JetBrainsMono-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/jetbrains/JetBrainsMono-Italic.woff2') format('woff2'),
        url('fonts/jetbrains/JetBrainsMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/jetbrains/JetBrainsMono-Light.woff2') format('woff2'),
        url('fonts/jetbrains/JetBrainsMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/jetbrains/JetBrainsMono-Medium.woff2') format('woff2'),
        url('fonts/jetbrains/JetBrainsMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/jetbrains/JetBrainsMono-LightItalic.woff2') format('woff2'),
        url('fonts/jetbrains/JetBrainsMono-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/jetbrains/JetBrainsMono-MediumItalic.woff2') format('woff2'),
        url('fonts/jetbrains/JetBrainsMono-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/jetbrains/JetBrainsMono-Regular.woff2') format('woff2'),
        url('fonts/jetbrains/JetBrainsMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/jetbrains/JetBrainsMono-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/jetbrains/JetBrainsMono-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/jetbrains/JetBrainsMono-SemiBold.woff2') format('woff2'),
        url('fonts/jetbrains/JetBrainsMono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/jetbrains/JetBrainsMono-Thin.woff2') format('woff2'),
        url('fonts/jetbrains/JetBrainsMono-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/jetbrains/JetBrainsMono-ThinItalic.woff2') format('woff2'),
        url('fonts/jetbrains/JetBrainsMono-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

