:root {
    --primary: #1187a5;
    --primary-light: #18b5dc;
    --primary-dark: #0c5b6e;

    --secondary: #ff7700;
    --secondary-light: #ff9d47;
    --secondary-dark: #cc5f00;

    --white: #fffcf2;
    --black: #2c1a1d;

    --header-height: 70px;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 100%;
} /*16px*/

body {
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    line-height: 1.75;
    background: var(--white);
    color: var(--black);
}

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    font-family: "Anita Semi-square", sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 4.209rem;
}

h2 {
    font-size: 3.157rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

small,
.text_small {
    font-size: 0.75rem;
}

.text-large {
    font-size: 1.25rem;
}

header,
section {
    position: relative;
}

.section-content {
    min-width: 350px;
    width: 70%;
    max-width: 1000px;
    margin: auto;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--header-height);
    background: var(--white);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

header > img {
    display: block;
    max-width: 100%;
    max-height: calc(100% - 20px);
    margin: 10px;
}

header nav {
    padding: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.main-nav a {
    color: var(--primary);
    text-decoration: none;
    transition: 0.2s;
    border-bottom: 2px solid transparent;
}

.main-nav li:hover a {
    color: var(--primary-dark);
    border-bottom-color: var(--primary-dark);
}

.secondary-nav ul {
    column-gap: 10px;
}

.secondary-nav a {
    color: var(--secondary);
    text-decoration: none;
    padding: 7px 14px;
    position: relative;
}

.secondary-nav a::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid var(--secondary);
    transform: skew(-30deg);
    pointer-events: all;
    z-index: -1;
    transition: 0.2s;
}

.secondary-nav li:hover a::before {
    background: var(--secondary);
}

.secondary-nav li:hover a {
    color: var(--white);
}

header + * {
    margin-top: var(--header-height);
}

section.hero {
    min-height: 40.6vw;
}

section.hero video {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 80vh;
    object-fit: cover;
}

section.hero .hero-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

section.hero .hero-content h1 {
    text-shadow: 0px 1px 0px grey, 0px 2px 0px grey, 0px 3px 0px grey,
        0px 4px 0px grey, 0px 5px 0px var(--primary-light),
        0px 6px 0px var(--primary-light), 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.accordion {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.tab {
    display: grid;
    grid-template-columns: 1fr;
    transition: 0.2s;
}

.tab-head,
.tab-body {
    padding: 20px;
    transition: 0.2s;
}

.tab-head {
    position: relative;
    background: rgb(201, 201, 201);
    cursor: pointer;
    user-select: none;
    border: 1px solid grey;
}

.tab-body {
    border: 1px solid grey;
    border-top: none;
}

.tab:not(.tab-open) .tab-body {
    overflow: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.tab-head::after {
    content: ">";
    position: absolute;
    top: calc(50% - 1.2ch);
    right: 20px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: 0.2s;
}

.tab-open .tab-head::after {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.prizes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    align-items: flex-end;
}

.prize {
    padding: 40px;
    text-align: center;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
}

.prize img {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(0px 10px 8px grey);
}

.prize h4 {
    color: var(--secondary);
}
